<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="recip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <recip.Properties.Settings>
            <setting name="LastRecipe" serializeAs="String">
                <value>No last recipe</value>
            </setting>
            <setting name="penLastRecipe" serializeAs="String">
                <value>No recipe</value>
            </setting>
            <setting name="LRRoute" serializeAs="String">
                <value>about:blank</value>
            </setting>
            <setting name="pLRRoute" serializeAs="String">
                <value>about:blank</value>
            </setting>
            <setting name="noLastRecipe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="SavedLogo" serializeAs="String">
                <value>COLORNEW</value>
            </setting>
        </recip.Properties.Settings>
    </userSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2"/>
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
